//mixins para estilos mais utilizados

@mixin fontUbuntu {
    font-family: 'Ubuntu', sans-serif;
} 

@mixin textAlign {
    text-align: left;
}

@mixin textShadow {
    text-shadow: 1px 1px 4px #494949;
}

@mixin boxShadow {
    box-shadow: 1px 1px 4px #494949;
}

// paleta de cores
$first-color:#D5DBD5;
$second-color: #323232;
$third-color: #3F8D1A;
$fourth-color: #8A8A8A;

//retirar margin, padding e border padrão dos navegadores
* {
    margin: 0;
    padding: 0;
    border: 0;
}

//estilizar a barra de menu
header {
    @include fontUbuntu();
    
    .menu-icon {
        background: url('../images/menu-icon.svg') no-repeat;
        background-size: 100%;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: $third-color;
        font-weight: 400;
        font-size: 25pt;
    
        &:hover {
            text-decoration: none; 
            color: $third-color;
        }
    }
}

//estilização menu overlay
.overlay {
    height: 100vh;
    width: 0;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0; 
    background-color: $second-color;
    overflow-x: hidden; 
    transition: 0.5s; 
    @include fontUbuntu();
    font-weight: 500;

        a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: $fourth-color;
            display: block; 
            transition: 0.3s;

            &:hover, &:focus {
                color: $first-color;
                text-decoration: none;
            }
         }

         .overlay-content {
            position: relative;
            top: 25%; 
            width: 100%; 
            text-align: center;
            margin-top: 30px;
          }

         .closebtn {
            position: absolute;
            top: 50px;
            right: 45px;
            font-size: 60px;
          }
  }
  

  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

//bloquear a seleção da imagem
.reception {
    .scroll-down {
        background-image: url('../images/scroll-down.svg');
        background-size: 100%;
        position: absolute;
        width: 47.75px;
        height: 171.65px;
        top: 40vh;
    }

    .img-fluid { 
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        }
}

//estilização do conteúdo principal
.home-page {
    height: 100vh;
    background-color: $first-color;
    @include fontUbuntu();

    h1 {
        font-weight: 700;
        font-size: 45pt;
        color: $second-color;
    }

    .about {
        color: $first-color;
        background-color: $second-color; 
        margin: auto;
        border-radius: 20px;
        flex-direction: column;

        h2 {
            width: 22%;
            font-size: 30pt;
            border: 4px solid $first-color;
            border-radius: 10px;
        }

        p {
            @include textAlign();
            font-size: 20pt;
        }

        ul {
            @include textAlign();
            font-size: 20pt;
        }
    }
}