* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  font-family: 'Ubuntu', sans-serif;
}

header .menu-icon {
  background: url("../images/menu-icon.svg") no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

header a {
  text-decoration: none;
  color: #3F8D1A;
  font-weight: 400;
  font-size: 25pt;
}

header a:hover {
  text-decoration: none;
  color: #3F8D1A;
}

.overlay {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #323232;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #8A8A8A;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #D5DBD5;
  text-decoration: none;
}

.overlay .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay .closebtn {
  position: absolute;
  top: 50px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.home-page .reception .scroll-down {
  background-image: url("../images/scroll-down.svg");
  background-size: 100%;
  cursor: pointer;
  position: absolute;
  width: 47.75px;
  height: 171.65px;
  top: 40vh;
}

.home-page .reception .img-fluid {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.home-page .presentation {
  background-color: #D5DBD5;
  font-family: 'Ubuntu', sans-serif;
}

.home-page .presentation h1 {
  font-weight: 700;
  font-size: 45pt;
  color: #323232;
}

.home-page .presentation .about {
  color: #D5DBD5;
  background-color: #323232;
  margin: auto;
  border-radius: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-page .presentation .about h2, .home-page .presentation .about h3 {
  width: 22%;
  font-size: 30pt;
  border: 4px solid #D5DBD5;
  border-radius: 10px;
}

.home-page .presentation .about p {
  text-align: left;
  font-size: 20pt;
}

.home-page .presentation .about ul {
  text-align: left;
  font-size: 20pt;
}

.home-page .skills {
  font-family: 'Ubuntu', sans-serif;
  background-color: #3F8D1A;
  height: 120vh;
}

.home-page .skills .img-fluid {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.home-page .skills .hard-skills {
  margin: auto;
  color: #3F8D1A;
  background-color: #D5DBD5;
  border-radius: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-page .skills .hard-skills h2 {
  width: 25%;
  font-size: 30pt;
  border: 4px solid #3F8D1A;
  border-radius: 10px;
}

.home-page .skills .hard-skills .javascript {
  background-image: url("../images/hard-skills-icons/javascript.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 122.74px;
  height: 166px;
}

.home-page .skills .hard-skills .html {
  background-image: url("../images/hard-skills-icons/html.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 122.74px;
  height: 166px;
}

.home-page .skills .hard-skills .css {
  background-image: url("../images/hard-skills-icons/css.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 122.74px;
  height: 166px;
}

.home-page .skills .hard-skills .c-sharp {
  background-image: url("../images/hard-skills-icons/c-sharp.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 122.74px;
  height: 166px;
}
/*# sourceMappingURL=main.css.map */